@charset "utf-8";
.fluid {
    width: 100%;
    
    text-align: left;
    height: 100%;
    color: #016596;
}
.site_title {
    font-size: xx-large;
    font-weight: 600;
    
    text-align: center;
}
.banner {
    

}
.siteImage {
    
    width: 100%;
    height: 100px;

}
